#contenedor{
    margin: auto;
    text-align: center;
    height: 500px;
    width: 500px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    color: black;
}
body{
    
    background-image: url(image.png);
    font-family: system-ui;
}

button{
    background-color: red;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    color: white;
}