// Styles common to every page, except login
$colors: (
  "primary": #b20a0a,
  "secondary": #4c0404,
  "white": rgba(217, 217, 217, 0.83),
);

$padding: 25px;

@mixin border-radius {
  border-radius: 15px;
}

@mixin customized-flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  background-image: url("../img/background.png");
  margin: 0;
  padding: $padding;

  > div {
    border: 1px solid black;
    @include border-radius;
  }
}

#container {
  background-color: map-get($map: $colors, $key: "white");
  padding: $padding;

  > hr {
    margin: 15px 0;
  }
}

#header {
  @include customized-flex($justify: space-between);

  #aulavirtual-icon {
    height: 78px;
    width: 222px;
  }

  #user-profile-icon {
    height: 71px;
    width: 71px;
  }

  #close-sesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: map-get($map: $colors, $key: "primary");
    color: white;
    text-decoration: none;
    @include border-radius();
    cursor: pointer;
  }

  div {
    @include customized-flex($justify: space-between);
  }
}

#footer {
  @include customized-flex();

  .footer-left {
    flex-grow: 1;
    @include customized-flex();
  }

  .footer-right {
    @include customized-flex($justify: flex-end);

    a {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 640px) {
  #close-sesion {
    text-align: center;
  }

  #footer {
    @include customized-flex(column);
  }
}
